.team{
    color: blue;
  
  }
  
  h1 {
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: blanchedalmond;
    text-align: center;
  
  }
  
  .col-sm {
    padding: 1rem 1rem 1rem 1rem;
  
  }
  
  .project-text {
    color: black;
    text-align: center;
  }

  .navbar-inner {
    color: blue;
}

.brand {
    display: block;
    height: auto;
    max-width: 50%;
    
}

.titlepage{
    color:black;
    text-align: center;

}

.navbar {
    background-color: blue;
    background: transparent;
    border-color: transparent;
 }

 .navbar-right {
    position: end;
 }
 .navbar-center {
    position: center;
 }
 
 .navbar li { color: #000 } 

 .wallet{
    position: absolute;

 }